body {
    background: #030000;
    color: rgb(255, 255, 255);
   }
   h1, h2 {
    color: rgb(194, 4, 4);
    font-family: Arial;
    text-align: right;
   }
   p{
    text-align:right;
   }
   em{
    color: rgb(0, 209, 0);
   }